<div class="row">
  <div class="col-sm-2">
    <%= render 'chats/navside' %>
  </div>
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i> 没有聊天窗口

      </div>

      <div class="panel-body">
        <!--Widget body-->
        <div id="demo-chat-body" class="collapse in">
          <div class="nano has-scrollbar" style="height:375px">

          </div>
        </div>
      </div>

      <div class="panel-footer">
      </div>
    </div>
  </div>

  <div class="col-sm-3">
  </div>
</div>


