<div class="container-fluid">
  <header class="jumbotron hero-spacer">
    <h1>A Warm Welcome to Rails Chat!</h1>
    <p>一个Rails Chat测试版本</p>
    <p>
      <% if current_user %>
          hello! <%= current_user.name %>
      <% else %>
          <a href="#" class="btn btn-primary btn-large" id="login_panel"> Log in!</a>
      <% end %>

    </p>
  </header>

  <hr>
  <hr>
</div>