<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    <% flash.each do |message_type,message| %>
    <% message_type = 'error'   if message_type == 'danger'%>
    toastr['<%= message_type %>']('<%= message %>');
    <% end %>
</script>

<br>
<div class="container-fluid">
  <%= yield %>
</div>


<%# flash.each do |message_type, message| %>
<!--<div class="alert alert-<%#= message_type %>">-->
<!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--<strong> <%#= message %></strong>-->
<!--</div>-->
<%# end %>